@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/timegrid/main.css";

// ------------------------- Time Grid Week -------------------------
.fc-timeGridWeek-view {
  // header text
  .fc-day-header {
    .weekday {
      font-size: 16px;
      margin: 0;
      color: hsl(45, 8%, 50%);
    }

    .day {
      font-size: 36px;
      margin: 0;
    }
  }

  // today header
  .fc-today {
    .weekday {
      color: hsl(352, 98%, 74%);
    }
    .day {
      color: hsl(352, 98%, 54%);
    }
  }

  // half an hour dotted line
  .fc-time-grid .fc-slats .fc-minor td {
    border-top-style: none;
  }
}
