@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

$text-main: rgba(55, 53, 47, 0.75);
$text-subtitle: rgba(55, 53, 47, 0.45);

// header
.fc-day-header {
  color: $text-subtitle;
}

.fc th {
  text-align: left;
}

// today
.fc-unthemed td.fc-today {
  background: none;
  border: none;

  .fc-day-number {
    color: $text-main;
  }
}

// day grid
.fc th,
.fc td {
  border-style: none;
  padding: 2px 10px;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: left;
  border-bottom: 1px solid $text-subtitle;
}

// event
.fc-day-grid-event .fc-content {
  border-bottom: 2px solid $text-subtitle;
}
